header{
    width: 100%;
    height: 100%;
    background-color: rgb(252, 195, 169);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 70px;

}


.left button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background:yellow;
    border-color: aliceblue;

}
 
.right img{
   width: 50%;
    
    
}
.right button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background:yellow;
    border-color: aliceblue;
}
